.nodegraph-node {
	width: 120px;
	min-height: 120px;
	position: absolute;

	background-color: #777777;
	border-radius: 5px;

	box-sizing: border-box;
	border-width: 2px;
	border-style: solid;
	border-color: #666666;
}

.nodegraph-node:hover {
	border-color: #888888;
}

.nodegraph-node p {
	text-align: center;
}

.nodegraph-plug {
	width: 20px;
	height: 20px;

	background-color: #999999;

	box-sizing: border-box;
	border-style: solid;
	border-color: #666666;
	border-width: 2px;
	border-radius: 10px;

	margin-top: 5px;
	margin-bottom: 5px;
}

.nodegraph-plug:hover {
	border-color: #777777;
}

.nodegraph-inputs {
	width: 21px;

	position: absolute;
	left: 0%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.nodegraph-outputs {
	width: 21px;

	text-align: left;

	position: absolute;
	left: 100%;
	top: 50%;
	transform: translate(-50%, -50%);
}